In [4]:
"hello world"

'hello world'

In [5]:
print("hello world")

hello world

In [10]:
print("hello world,\nI am learning data science.")

hello world,
I am learning data science.

In [11]:
print('''
hello world,
I am learning data science.
''')

hello world,
I am learning data science.

### $ Variable $   $Assignment $

In [12]:
name = "Riya Tyagi"
company = "Sutherland Global Services"

In [13]:
print(name)

Riya Tyagi

In [14]:
print(company)

Sutherland Global Services

In [15]:
number = 10

In [16]:
print(number)

10

In [18]:
print(type(name))

<class 'str'>

In [19]:
print(type(number))

<class 'int'>

In [20]:
decimal_num = 2.5

In [21]:
print(decimal_num)

2.5

In [22]:
print(type(decimal_num))

<class 'float'>

In [23]:
decimal_num

2.5

In [24]:
complex_number = 1+3j

In [25]:
print(complex_number)

(1+3j)

In [26]:
print(type(complex_number))

<class 'complex'>

In [27]:
# Reserved Keywords
'''
int,float,len,complex,bool,str,return,yield
'''

'\nint,float,len,complex,bool,str,return,yield\n'

In [28]:
True

True

In [29]:
print(type(True))

<class 'bool'>

In [30]:
print(type(False))

<class 'bool'>

In [31]:
True and False

False

In [32]:
True or False

True

In [33]:
not True

False

In [34]:
not False

True

In [35]:
print(type(not False))

<class 'bool'>

In [39]:
# Typecasting
bool(0)

False

In [40]:
bool(1)

True

In [41]:
a = 1
if bool(a) == True:
    print("True")

True

In [42]:
str(23)

'23'

In [44]:
print(type(str(23)))

<class 'str'>

In [45]:
int(str(23))

23

In [46]:
type(int(str(23)))

int

In [47]:
## dynamic typing

In [48]:
a = 12
str1 = "Riya"
a = "var"

In [49]:
print(type(a))

<class 'str'>

In [50]:
int(1.24)

1

In [51]:
int(1.8)

1

In [52]:
## conactenation between different type

In [53]:
"1" + "1"

'11'

In [55]:
"1" + "Riya"

'1Riya'

In [57]:
"1" * 12

'111111111111'

In [59]:
np.array([1,2,3])

array([1, 2, 3])

In [60]:
bool(2)

True

In [61]:
bool(1.24)

True

In [1]:
age = 26
print("My age is : ",age)

My age is :  26

In [5]:
# f-string
print(f"My age is {age}")

My age is 26

In [6]:
# format
name = "Riya"
age = 26
print("My name is {} and age is {}".format(name,age))

My name is Riya and age is 26

In [7]:
print("My name is {} and age is {}".format(age,name))

My name is 26 and age is Riya

In [9]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstname = name,firstage = age))

My name is Riya and age is 26

In [20]:
name = "Riya Tyagi"
age = 26
degree = "Masters"

In [23]:
print(" My age is {} and I have completed my degree of {} with the name of {}".format(age,degree,name))

 My age is 26 and I have completed my degree of Masters with the name of Riya Tyagi

In [24]:
print(" My age is {a} and I have completed my degree of {d} with the name of {n}".format(a=age,d=degree,n=name))

 My age is 26 and I have completed my degree of Masters with the name of Riya Tyagi

In [25]:
print(f"My age is {age} and I ahve completed my degree of {degree} with the name of {name}")

My age is 26 and I ahve completed my degree of Masters with the name of Riya Tyagi

In [26]:
# control flow

## Control flow
### Decision Making statements
* It is a kind of making decision during occured situstaion of program  execution and action can be taken according to specified conditions.
 * Structure of Decision making evaluates several expressions that provide True or False as a result.
 * It is up to you to decide which type of action want to take and execute the statements based upon True and False.

##### This are several topics of decision making which going to be discussed below:**
    1. **if**
    2. **if else**
    3. **if elif else**
    4. **Nested if**
    5. **Single Statement Suites**

In [4]:
# If statement
age = int(input("Your age : "))
if age >= 18 :
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Your age :  18

You are eligible to vote

In [9]:
name = input("Enter the name")

Enter the name Riya Tyagi

In [10]:
name

'Riya Tyagi'

In [11]:
## Task

### Take a input of age 
### Check whether age >= 18 and age <= 45
### Display a message You are young blood

In [13]:
age = int(input("age : "))
if age >= 18 and age <= 45:
    print("You are young blood")

age :  50

In [15]:
50 >= 18 and 50<= 45

False

In [17]:
## if else statement
age = int(input("age : "))
if age >= 18 and age <= 45:
    print("You are young blood")
else:
    print("Thank you  your application is rejected")

age :  17

Thank you  your application is rejected

In [18]:
## mall - input the product price
##  product  > 1000 rs get 20% off
## then print the product price after the off
##  product <= 1000 rs get 30% off
## then print the product price after the off

In [11]:
pp = int(input("Enter the product price : "))
if pp > 1000:
    print(f"Congratulations ! You get 20% off and now product price is {pp-pp*20/100}")
else:
    print(f"Congratulations ! You get 30% off and now product price is {pp-pp*30/100}")

Enter the product price :  1557

Congratulations ! You get 20% off and now product price is 1245.6

In [12]:
pp = int(input("Enter the product price : "))
if pp > 1000:
    print("Congratulations ! You get 20% off and now product price is {}".format(pp-pp*20/100))
else:
    print("Congratulations ! You get 30% off and now product price is {}".format(pp-pp*30/100))

Enter the product price :  1557

Congratulations ! You get 20% off and now product price is 1245.6

In [1]:
## mall - input the product price
##  product  > 3000 rs get 20% off
## if the price == 4000 you get trip to goa
## then print the product price after the off
##  product  >= 2000 rs and <=3000 get 30% off
## then print the product price after the off
## if price == 2999 rs you will get additional gift
##  product >= 100rs  and  <= 2000rs get 30% off
## then print the product price after the off

In [4]:
pp = int(input("Enter the product price : "))
if pp > 3000:
    if pp == 4000:
        print("Congratulations, You get a goa trip!")
    print("Congratulations ! You get 20% off and now product price is {}".format(pp-pp*20/100))
    
elif pp >2000 and pp <=3000:
    if pp == 2999:
        print("Congratulations! You got an additional gift")
    print("Congratulations ! You get 30% off and now product price is {}".format(pp-pp*30/100))
elif pp >=100 and pp <=2000:
    print("Congratulations ! You get 40% off and now product price is {}".format(pp-pp*40/100))
else:
    print("Let's drink tea")
    print("Itne mein itna hi milega!")

Enter the product price :  55

Let's drink tea
Itne mein itna hi milega!

In [8]:
## Single statements Suites
val = int(input("Enter the number : "))
if (val<= 999):print("Value is less than or equal to 999")
else:print("Go Home!")

Enter the number :  1200

Go Home!

## Loops Statements
1. While Loop
2. For Loop
3. Nested Loops
4. Loop control(break,continue,pass)

In [12]:
# while loop, while-else loop
joining_age = 25
while joining_age < 60:
    print(joining_age)
    joining_age = joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
Its time for retirement

In [13]:
total_money = 1000
while total_money > 0:
    print(total_money)
    total_money = total_money - 100
else:
    print("All money is exhausted")

1000
900
800
700
600
500
400
300
200
100
All money is exhausted

## For Loop

In [14]:
List = ["Riya",1,2,3,4,"Apple","Banana"]

In [15]:
print(List)

['Riya', 1, 2, 3, 4, 'Apple', 'Banana']

In [17]:
print(type(List))

<class 'list'>

In [20]:
print(List[4])

4

In [23]:
for x in List:
    print(x)

Riya
1
2
3
4
Apple
Banana

In [24]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [30]:
for a in fruits_list:
    print(a)
    if a == "Cherry":
        print("The fruit is cherry.")

Mango
Cherry
The fruit is cherry.
Apple
Papaya
Banana

In [39]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [33]:
fruit[0]

'm'

In [36]:
fruit[3]

'g'

In [41]:
print(range(1,6))

range(1, 6)

In [45]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [55]:
## Nested loops
n = 7
for i in range(1,n,2):
    for j in range(1,i+1):
        print(" * ",end = "")
    print("\r")

 *
 *  *  *
 *  *  *  *  *

In [56]:
## Loop Controls
## Break and Continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [62]:
# continue
for i in fruits_list:
    if i == "Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

In [62]:
# continue
for i in fruits_list:
    if i == "Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

In [62]:
# continue
for i in fruits_list:
    if i == "Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana